# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd

# PyInstaller
build/
dist/
*.spec.bak

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Runtime data
data/logs/
data/temp/
data/*.db

# Env
.env
*.env
